/* 全局样式 */
body {
  margin: 0;
  padding: 0;
  background: #f2f3f5;
}

#app {
  min-height: 100vh;
}

/* ArcoDesign 主色调覆盖 */
.arco-btn-primary {
  background-color: #165dff !important;
  border-color: #165dff !important;
}

.arco-btn-primary:hover {
  background-color: #4080ff !important;
  border-color: #4080ff !important;
}
